body{
	font-size: 16px;
	color: #fff;
	background-color: #61122f;
	font-family: sans-serif;
}

/** HEADER **/
#header-nav{
	background-color: red;
	border-radius: 0;
	border: 0;
}

.navbar-brand{
	padding-right: 25px;
}

.navbar-brand h1{ /*Restaurant name */
	font-size: 1.5em;
	font-weight: bold;
	line-height: .75;
	text-transform: uppercase;
	font-family: serif;
	font-color: #951C49;
	margin-top: -10px;
 }

.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
}

#nav-list{
	margin-top: 10px;
}

#nav-list a {
	color: #951C49;
	text-decoration-color: green;
	text-align: center;
	background-color: white;
}

#nav-list a:hover{
	background: #E7E7E7;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid #61122f;
}

.navbar-header button.navbar-toggle {
	clear: both;
}

#menu-category{
	margin-top: 10px;
	margin-bottom: 40px;
}

#Lorem{
	color: black;
	font-weight: lighter;
	margin-bottom: 20px;
	margin-top: 20px;
}

#Chicken-menu{
	color: #951C49;
	text-decoration-color: green;
	text-align: center;
	font-weight: bold;
	margin-bottom: 20px;
	margin-top: 20px;
	text-decoration: none;
}

/*.container a:hover, .cantainer a:focus, #Lorem{
	text-decoration: none;
} */

@media (min-width: 992px) {


}

@media (min-width: 768px) and (max-width: 991px){


}

@media (max-width: 767px) {

}